.hero {
  background-color: white;
}

.hero h1 {
  color: #1c0f0f;
  text-transform: uppercase;
  font-size: 116px;
  font-family: Montserrat;
  font-weight: 700;
  margin-bottom: 40px;
}

.hero h1 span {
  display: inline-block;
  width: 316px;
  height: 86px;
  background-image: url("/images/girl.png");
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 31px;
  border-radius: 200px;
  border: 2px solid #E7F63C;
}

.hero h1 > span:first-child {
  width: 483px;
  background-image: url("/images/computerBoy.png");
  margin: 0 0 0 40px;
}

.hero > div {
  width: 100%;
  height: 1225px;
  display: flex;
  margin-left: 178px;
  gap: 225px;
  padding-top: 96px;
  margin: 0 auto;
  padding-left: 178px;
}

.hero > div > div:first-child {
  outline: 1px solid blue;
  width: 904px;
  height: 425px;
  position: relative;
}

.hero div + div {
  padding-top: 78px;
  outline: 1px solid blue;
  width: 766px;
  margin: 0;
  display: block;
  overflow: hidden;
  height: 781.5px;
}

.hero div + div > div {
    padding: 0;
}

.hero button {
  text-transform: uppercase;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 500;
  color: #1c0f0f;
  position: absolute;
  top: 321px;
  right: 73px;
  background-color: #e7f63c;
  width: 257px;
  height: 82px;
  border-radius: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 52px;
}

.hero button > span {
  width: 66px;
  height: 66px;
  display: inline-flex;
  border-radius: 50%;
  border: 1px solid #1c0f0f;
  align-items: center;
  justify-content: center;
}

.hero p { 
width: 772px;
}
